@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #BDC5BE;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ACB3AD;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #BDC5BE;
}

/* Para modais nos navegadores WebKit */
.modal-scroll::-webkit-scrollbar {
  width: 0px; /* scrollbar oculto por padrão */
  transition: width 0.3s;
}

.modal-scroll:hover::-webkit-scrollbar {
  width: 8px; /* scrollbar aparece quando o mouse está sobre o modal */
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; /* bordas arredondadas */
}

/* Para Firefox */
.modal-scroll {
  scrollbar-width: thin; /* define a largura fina */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
